.wd-bg-white{
    background-color: white;
}

.wd-fg-black{
    color: black;
}

.wd-fg-gray{
    color: gray;
}

.wd-fg-lightgray{
    color: lightgray;
}

.wd-left-margin{
    margin-left: 12px;
}

.wd-padding-all-around{
    padding: 12px;
}

.wd-rounded-images{
    border-radius: 50%;
}

.wd-thin-border{
    border-width: 2px;
    padding: 5px
}

.wd-border-solid{
    border-style: solid;
}

.wd-border-light-gray{
    border-color: lightgray;
}

.wd-image-size{
    height: 48px;
    width: 48px;
}

.wd-yellow{
    color: yellow;
}


.wd-grid-main-content{
    width: 80%;
    float: left;
}

.wd-image-width{
    width: 100%;
}

.wd-grid-row{
    clear:both
}

.wd-right-margin{
    margin-right: 30px;
}

.wd-grid {
    display: grid;
    gap: 5px;
}

.wd-thin-border {
    border: 1px solid lightgray;
    padding: 10px;
}

.wd-grid-left {
    grid-row: 1 / span 2;
}

.wd-grid-right {
    grid-column: 2;
}

.wd-padding-bottom{
    padding-bottom: 10px;
}
.wd-pb-0{
    padding-bottom: 0px;
}

.wd-border-radius {
    border-radius: 10%;
}

.wd-position-absolute{
    position: absolute;
}

.wd-position-relative{
    position: relative;
}


